#reg{
    margin: 10% 2% 2% 2%;
   
}
input[type=file] {
    display: none;
   
}
.custom-image {
    border-radius: 5px;
    margin: 1%;
    border: solid 1px rgb(52, 15, 163);
    color: rgb(21, 7, 62);
    font-family: monospace;
    cursor: pointer; 
    width: 10%;
    text-align: center;
    background-color: whitesmoke;

}
.custom-image:hover{
    color:white;
    background-color: rgb(21, 7, 62);
    transition: 0.3s;
}